<section class="content-main mt-200">
  <div class="card">
    <div class="card-body">
        <div class="row justify-content-center">
        <div class="col-lg-6 " >
          <form>
            <div class="mb-4">
              <label for="product_name" class="form-label">Name</label>
              <input type="text" placeholder="Type here" name="category" class="form-control" id="category" />
              <p id="err" class="text-danger"></p>
            </div>
            <div class="d-grid">
              <button type="button" class="btn btn-primary" onclick="validation()">Create category</button>
            </div>
          </form>
        </div>
      </div> <!-- .row // -->
    </div> <!-- card body .// -->
  </div> <!-- card .// -->
</section> <!-- content-main end// -->


<script>
    function validation(){
        const name = document.getElementById('category')
        const nameValue = name.value.trim()

        const error = name.parentElement.querySelector('p')

        error.innerText = ''

        let flag = 1

        if(name == ''){
            error.innerText = "Field is required"
            flag = 2
        }

        if(flag == 1){
            submit(nameValue)
        }
    }

    function submit(category){
        $.ajax({
            url : 'admin.editCategory',
            method : 'post',
            data : {
                name : category
            },
            success
        })
    }
</script>



<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->

<head>
  <meta charset="utf-8">
  <title>Evara - eCommerce HTML Template</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/frontEnd/imgs/theme/favicon.svg">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/frontEnd/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
</head>

<body>



  <main class="main">
    <div class="page-header breadcrumb-wrap">
    </div>
    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="product-detail accordion-detail">
              <div class="row mb-50">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="detail-gallery">
                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                    <!-- MAIN SLIDES -->
                    <div class="product-image-slider">
                      <figure class="border-radius-10">
                        <img src="/productImages/<%= product.img[0]%>" alt="product image">
                      </figure>
                      <figure class="border-radius-10">
                        <img src="/productImages/<%= product.img[1]%>" alt="product image">
                      </figure>
                      <figure class="border-radius-10">
                        <img src="/productImages/<%= product.img[2]%>" alt="product image">
                      </figure>
                      <figure class="border-radius-10">
                        <img src="/productImages/<%= product.img[3]%>" alt="product image">
                      </figure>

                    </div>
                    <!-- THUMBNAILS -->
                    <div class="slider-nav-thumbnails pl-15 pr-15">
                      <div><img src="/productImages/<%= product.img[0]%>" alt="product image"></div>
                      <div><img src="/productImages/<%= product.img[1]%>" alt="product image"></div>
                      <div><img src="/productImages/<%= product.img[2]%>" alt="product image"></div>
                      <div><img src="/productImages/<%= product.img[3]%>" alt="product image"></div>
                    </div>
                  </div>
                  <!-- End Gallery -->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="detail-info">
                    <h2 class="title-detail"><%= product.name%></h2>
                    <div class="product-detail-rating">
                      <div class="pro-details-brand">
                      </div>
                      <div class="product-rate-cover text-end">
                        <div class="product-rate d-inline-block">
                          <div class="product-rating" style="width:90%">
                          </div>
                        </div>
                        <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                      </div>
                    </div>
                    <div class="clearfix product-price-cover">
                      <div class="product-price primary-color float-left">
                        <ins><span class="text-brand">₹<%= product.price%></span></ins>
                        <ins><span class="old-price font-md ml-15">$200.00</span></ins>
                        <span class="save-price  font-md color3 ml-15">25% Off</span>
                      </div>
                    </div>
                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                    <div class="short-desc mb-30">
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam rem officia, corrupti reiciendis minima nisi modi, quasi, odio minus dolore impedit fuga eum eligendi? Officia doloremque facere quia. Voluptatum, accusantium!</p>
                    </div>
                    <div class="product_sort_info font-xs mb-30">
                      <ul>
                        <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera Brand Warranty</li>
                        <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                        <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                      </ul>
                    </div>

                    <div class="attr-detail attr-size">
                      <strong class="mr-10">Size</strong>
                      <ul class="list-filter size-filter font-small">
                        <li><a href="#">S</a></li>
                        <li class="active"><a href="#">M</a></li>
                        <li><a href="#">L</a></li>
                        <li><a href="#">XL</a></li>
                        <li><a href="#">XXL</a></li>
                      </ul>
                    </div>
                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                    <div class="detail-extralink">
                      <div class="detail-qty border radius">
                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                        <span class="qty-val">1</span>
                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                      </div>
                      <div class="product-extra-link2">
                        <% if (product.quantity === 0) { %>
                          <p class="text-danger">Out of stock</p>
                          <% } else { %>
                            <button type="submit" class="button button-add-to-cart" onclick="addToCart('<%=product._id%>')
                             
                              ">Add to cart</button>
                          <% } %>
                          
                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                      </div>
                    </div>
                    <ul class="product-meta font-xs color-grey mt-50">
                      <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                      <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#" rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                      <li>Availability:<span class="in-stock text-success ml-5">8 Items In Stock</span></li>
                    </ul>
                  </div>
                  <!-- Detail Info -->
                </div>
              </div>

              <div class="row mt-60">
                <div class="col-12">
                  <h3 class="section-title style-1 mb-30">Related products</h3>
                </div>
                <div class="col-12">
                  <div class="row related-products">
                    <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                      <div class="product-cart-wrap small hover-up">
                        <div class="product-img-action-wrap">
                          <div class="product-img product-img-zoom">
                            <a href="shop-product-right.html" tabindex="0">
                              <img class="default-img" src="/frontEnd/imgs/shop/product-2-1.jpg" alt="">
                              <img class="hover-img" src="/frontEnd/imgs/shop/product-2-2.jpg" alt="">
                            </a>
                          </div>
                          <div class="product-action-1">
                            <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-search"></i></a>
                            <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                            <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                          </div>
                          <div class="product-badges product-badges-position product-badges-mrg">
                            <span class="hot">Hot</span>
                          </div>
                        </div>
                        <div class="product-content-wrap">
                          <h2><a href="shop-product-right.html" tabindex="0">Ulstra Bass Headphone</a></h2>
                          <div class="rating-result" title="90%">
                            <span>
                            </span>
                          </div>
                          <div class="product-price">
                            <span>$238.85 </span>
                            <span class="old-price">$245.8</span>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!-- <div class="banner-img banner-big wow fadeIn f-none animated mt-50">
                <img class="border-radius-10" src="/frontEnd/imgs/banner/banner-4.png" alt="">
                <div class="banner-text">
                  <h4 class="mb-15 mt-40">Repair Services</h4>
                  <h2 class="fw-600 mb-20">We're an Apple <br>Authorised Service Provider</h2>
                </div>
              </div>
            </div> -->
            </div>
          </div>
        </div>
    </section>
  </main>


  <!-- Vendor JS-->
  <script src="/frontEnd/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="/frontEnd/js/vendor/jquery-3.6.0.min.js"></script>
  <script src="/frontEnd/js/vendor/jquery-migrate-3.3.0.min.js"></script>
  <script src="/frontEnd/js/vendor/bootstrap.bundle.min.js"></script>
  <script src="/frontEnd/js/plugins/slick.js"></script>
  <script src="/frontEnd/js/plugins/jquery.syotimer.min.js"></script>
  <script src="/frontEnd/js/plugins/wow.js"></script>
  <script src="/frontEnd/js/plugins/jquery-ui.js"></script>
  <script src="/frontEnd/js/plugins/perfect-scrollbar.js"></script>
  <script src="/frontEnd/js/plugins/magnific-popup.js"></script>
  <script src="/frontEnd/js/plugins/select2.min.js"></script>
  <script src="/frontEnd/js/plugins/waypoints.js"></script>
  <script src="/frontEnd/js/plugins/counterup.js"></script>
  <script src="/frontEnd/js/plugins/jquery.countdown.min.js"></script>
  <script src="/frontEnd/js/plugins/images-loaded.js"></script>
  <script src="/frontEnd/js/plugins/isotope.js"></script>
  <script src="/frontEnd/js/plugins/scrollup.js"></script>
  <script src="/frontEnd/js/plugins/jquery.vticker-min.js"></script>
  <script src="/frontEnd/js/plugins/jquery.theia.sticky.js"></script>
  <script src="/frontEnd/js/plugins/jquery.elevatezoom.js"></script>
  <!-- Template  JS -->
  <script src="/frontEnd/js/main.js"></script>
  <script src="/frontEnd/js/shop.js"></script>
</body>
onclick="changeQuantity('<%=cartItems._id%>','<%=cartItem.item%>','<%=user._id%>',1)"

<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->

</html>

<script>
  function addToCart(proId){
    $.ajax({
      url:'/add-to-cart/' + proId,
      method :'GET',
      success:(response) =>{
        if(response.status){
          console.log(response.status);
          location.href = '/cart-list'
        }
      }
    })
  }
</script>



<div id="quantity" class="detail-qty border radius  m-auto">
  <a href="#" class="qty-down"><i class="fi-rs-angle-small-down" ></i></a>
  <span class="qty-val"><%=item.quantity%></span>
  <span class="productId" hidden><%= item.carted._id %></span>
  <span class="userId" hidden><%= user._id %></span>
  <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
</div>


<div class="col-md-6">
              <div class="mb-25">
                <h4>Billing Details</h4>
              </div>
              <form>
                <div class="form-group">
                  <input type="text" required="" name="fname" id="fname" placeholder="First name *">
                  <p id="err" class="text-danger"></p>
                </div>
                <div class="form-group">
                  <input type="text" required="" name="lname" id="lname" placeholder="Last name *">
                  <p id="err" class="text-danger"></p>
                </div>
                <div class="form-group">
                  <div class="custom_select">
                    <select class="form-control select-active" id="option">
                      <option value="">Select an option...</option>
                      <option value="AX">Aland Islands</option>
                      <option value="AF">Afghanistan</option>
                      <option value="AL">Albania</option>
                      <option value="DZ">Algeria</option>
                      <option value="AD">Andorra</option>
                      <option value="AO">Angola</option>
                      <option value="AI">Anguilla</option>
                      <option value="AQ">Antarctica</option>
                      <option value="AG">Antigua and Barbuda</option>
                      <option value="AR">Argentina</option>
                      <option value="AM">Armenia</option>
                      <option value="AW">Aruba</option>
                      <option value="AU">Australia</option>
                      <option value="AT">Austria</option>
                      <option value="AZ">Azerbaijan</option>
                      <option value="BS">Bahamas</option>
                      <option value="BH">Bahrain</option>
                      <option value="BD">Bangladesh</option>
                      <option value="BB">Barbados</option>
                      <option value="BY">Belarus</option>
                      <option value="PW">Belau</option>
                      <option value="BE">Belgium</option>
                      <option value="BZ">Belize</option>
                      <option value="BJ">Benin</option>
                      <option value="BM">Bermuda</option>
                      <option value="BT">Bhutan</option>
                      <option value="BO">Bolivia</option>
                      <option value="BQ">Bonaire, Saint Eustatius and Saba</option>
                      <option value="BA">Bosnia and Herzegovina</option>
                      <option value="BW">Botswana</option>
                      <option value="BV">Bouvet Island</option>
                      <option value="BR">Brazil</option>
                      <option value="IO">British Indian Ocean Territory</option>
                      <option value="VG">British Virgin Islands</option>
                      <option value="BN">Brunei</option>
                      <option value="BG">Bulgaria</option>
                      <option value="BF">Burkina Faso</option>
                      <option value="BI">Burundi</option>
                      <option value="KH">Cambodia</option>
                      <option value="CM">Cameroon</option>
                      <option value="CA">Canada</option>
                      <option value="CV">Cape Verde</option>
                      <option value="KY">Cayman Islands</option>
                      <option value="CF">Central African Republic</option>
                      <option value="TD">Chad</option>
                      <option value="CL">Chile</option>
                      <option value="CN">China</option>
                      <option value="CX">Christmas Island</option>
                      <option value="CC">Cocos (Keeling) Islands</option>
                      <option value="CO">Colombia</option>
                      <option value="KM">Comoros</option>
                      <option value="CG">Congo (Brazzaville)</option>
                      <option value="CD">Congo (Kinshasa)</option>
                      <option value="CK">Cook Islands</option>
                      <option value="CR">Costa Rica</option>
                      <option value="HR">Croatia</option>
                      <option value="CU">Cuba</option>
                      <option value="CW">CuraÇao</option>
                      <option value="CY">Cyprus</option>
                      <option value="CZ">Czech Republic</option>
                      <option value="DK">Denmark</option>
                      <option value="DJ">Djibouti</option>
                      <option value="DM">Dominica</option>
                      <option value="DO">Dominican Republic</option>
                      <option value="EC">Ecuador</option>
                      <option value="EG">Egypt</option>
                      <option value="SV">El Salvador</option>
                      <option value="GQ">Equatorial Guinea</option>
                      <option value="ER">Eritrea</option>
                      <option value="EE">Estonia</option>
                      <option value="ET">Ethiopia</option>
                      <option value="FK">Falkland Islands</option>
                      <option value="FO">Faroe Islands</option>
                      <option value="FJ">Fiji</option>
                      <option value="FI">Finland</option>
                      <option value="FR">France</option>
                      <option value="GF">French Guiana</option>
                      <option value="PF">French Polynesia</option>
                      <option value="TF">French Southern Territories</option>
                      <option value="GA">Gabon</option>
                      <option value="GM">Gambia</option>
                      <option value="GE">Georgia</option>
                      <option value="DE">Germany</option>
                      <option value="GH">Ghana</option>
                      <option value="GI">Gibraltar</option>
                      <option value="GR">Greece</option>
                      <option value="GL">Greenland</option>
                      <option value="GD">Grenada</option>
                      <option value="GP">Guadeloupe</option>
                      <option value="GT">Guatemala</option>
                      <option value="GG">Guernsey</option>
                      <option value="GN">Guinea</option>
                      <option value="GW">Guinea-Bissau</option>
                      <option value="GY">Guyana</option>
                      <option value="HT">Haiti</option>
                      <option value="HM">Heard Island and McDonald Islands</option>
                      <option value="HN">Honduras</option>
                      <option value="HK">Hong Kong</option>
                      <option value="HU">Hungary</option>
                      <option value="IS">Iceland</option>
                      <option value="IN">India</option>
                      <option value="ID">Indonesia</option>
                      <option value="IR">Iran</option>
                      <option value="IQ">Iraq</option>
                      <option value="IM">Isle of Man</option>
                      <option value="IL">Israel</option>
                      <option value="IT">Italy</option>
                      <option value="CI">Ivory Coast</option>
                      <option value="JM">Jamaica</option>
                      <option value="JP">Japan</option>
                      <option value="JE">Jersey</option>
                      <option value="JO">Jordan</option>
                      <option value="KZ">Kazakhstan</option>
                      <option value="KE">Kenya</option>
                      <option value="KI">Kiribati</option>
                      <option value="KW">Kuwait</option>
                      <option value="KG">Kyrgyzstan</option>
                      <option value="LA">Laos</option>
                      <option value="LV">Latvia</option>
                      <option value="LB">Lebanon</option>
                      <option value="LS">Lesotho</option>
                      <option value="LR">Liberia</option>
                      <option value="LY">Libya</option>
                      <option value="LI">Liechtenstein</option>
                      <option value="LT">Lithuania</option>
                      <option value="LU">Luxembourg</option>
                      <option value="MO">Macao S.A.R., China</option>
                      <option value="MK">Macedonia</option>
                      <option value="MG">Madagascar</option>
                      <option value="MW">Malawi</option>
                      <option value="MY">Malaysia</option>
                      <option value="MV">Maldives</option>
                      <option value="ML">Mali</option>
                      <option value="MT">Malta</option>
                      <option value="MH">Marshall Islands</option>
                      <option value="MQ">Martinique</option>
                      <option value="MR">Mauritania</option>
                      <option value="MU">Mauritius</option>
                      <option value="YT">Mayotte</option>
                      <option value="MX">Mexico</option>
                      <option value="FM">Micronesia</option>
                      <option value="MD">Moldova</option>
                      <option value="MC">Monaco</option>
                      <option value="MN">Mongolia</option>
                      <option value="ME">Montenegro</option>
                      <option value="MS">Montserrat</option>
                      <option value="MA">Morocco</option>
                      <option value="MZ">Mozambique</option>
                      <option value="MM">Myanmar</option>
                      <option value="NA">Namibia</option>
                      <option value="NR">Nauru</option>
                      <option value="NP">Nepal</option>
                      <option value="NL">Netherlands</option>
                      <option value="AN">Netherlands Antilles</option>
                      <option value="NC">New Caledonia</option>
                      <option value="NZ">New Zealand</option>
                      <option value="NI">Nicaragua</option>
                      <option value="NE">Niger</option>
                      <option value="NG">Nigeria</option>
                      <option value="NU">Niue</option>
                      <option value="NF">Norfolk Island</option>
                      <option value="KP">North Korea</option>
                      <option value="NO">Norway</option>
                      <option value="OM">Oman</option>
                      <option value="PK">Pakistan</option>
                      <option value="PS">Palestinian Territory</option>
                      <option value="PA">Panama</option>
                      <option value="PG">Papua New Guinea</option>
                      <option value="PY">Paraguay</option>
                      <option value="PE">Peru</option>
                      <option value="PH">Philippines</option>
                      <option value="PN">Pitcairn</option>
                      <option value="PL">Poland</option>
                      <option value="PT">Portugal</option>
                      <option value="QA">Qatar</option>
                      <option value="IE">Republic of Ireland</option>
                      <option value="RE">Reunion</option>
                      <option value="RO">Romania</option>
                      <option value="RU">Russia</option>
                      <option value="RW">Rwanda</option>
                      <option value="ST">São Tomé and Príncipe</option>
                      <option value="BL">Saint Barthélemy</option>
                      <option value="SH">Saint Helena</option>
                      <option value="KN">Saint Kitts and Nevis</option>
                      <option value="LC">Saint Lucia</option>
                      <option value="SX">Saint Martin (Dutch part)</option>
                      <option value="MF">Saint Martin (French part)</option>
                      <option value="PM">Saint Pierre and Miquelon</option>
                      <option value="VC">Saint Vincent and the Grenadines</option>
                      <option value="SM">San Marino</option>
                      <option value="SA">Saudi Arabia</option>
                      <option value="SN">Senegal</option>
                      <option value="RS">Serbia</option>
                      <option value="SC">Seychelles</option>
                      <option value="SL">Sierra Leone</option>
                      <option value="SG">Singapore</option>
                      <option value="SK">Slovakia</option>
                      <option value="SI">Slovenia</option>
                      <option value="SB">Solomon Islands</option>
                      <option value="SO">Somalia</option>
                      <option value="ZA">South Africa</option>
                      <option value="GS">South Georgia/Sandwich Islands</option>
                      <option value="KR">South Korea</option>
                      <option value="SS">South Sudan</option>
                      <option value="ES">Spain</option>
                      <option value="LK">Sri Lanka</option>
                      <option value="SD">Sudan</option>
                      <option value="SR">Suriname</option>
                      <option value="SJ">Svalbard and Jan Mayen</option>
                      <option value="SZ">Swaziland</option>
                      <option value="SE">Sweden</option>
                      <option value="CH">Switzerland</option>
                      <option value="SY">Syria</option>
                      <option value="TW">Taiwan</option>
                      <option value="TJ">Tajikistan</option>
                      <option value="TZ">Tanzania</option>
                      <option value="TH">Thailand</option>
                      <option value="TL">Timor-Leste</option>
                      <option value="TG">Togo</option>
                      <option value="TK">Tokelau</option>
                      <option value="TO">Tonga</option>
                      <option value="TT">Trinidad and Tobago</option>
                      <option value="TN">Tunisia</option>
                      <option value="TR">Turkey</option>
                      <option value="TM">Turkmenistan</option>
                      <option value="TC">Turks and Caicos Islands</option>
                      <option value="TV">Tuvalu</option>
                      <option value="UG">Uganda</option>
                      <option value="UA">Ukraine</option>
                      <option value="AE">United Arab Emirates</option>
                      <option value="GB">United Kingdom (UK)</option>
                      <option value="US">USA (US)</option>
                      <option value="UY">Uruguay</option>
                      <option value="UZ">Uzbekistan</option>
                      <option value="VU">Vanuatu</option>
                      <option value="VA">Vatican</option>
                      <option value="VE">Venezuela</option>
                      <option value="VN">Vietnam</option>
                      <option value="WF">Wallis and Futuna</option>
                      <option value="EH">Western Sahara</option>
                      <option value="WS">Western Samoa</option>
                      <option value="YE">Yemen</option>
                      <option value="ZM">Zambia</option>
                      <option value="ZW">Zimbabwe</option>
                    </select>
                    <p id="err" class="text-danger"></p>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="billing_address" id="address1" required="" placeholder="Address *">
                  <p id="err" class="text-danger"></p>
                </div>
                <div class="form-group">
                  <input type="text" name="billing_address2" id="address2" required="" placeholder="Address line2">
                  <p id="err" class="text-danger"></p>
                </div>
                <div class="form-group">
                  <input required="" type="text" name="city" id="city" placeholder="City / Town *">
                  <p id="err" class="text-danger"></p>
                </div>
                <div class="form-group">
                  <input required="" type="text" name="state" id="state" placeholder="State / County *">
                  <p id="err" class="text-danger"></p>
                </div>
                <div class="form-group">
                  <input required="" type="text" name="zipcode" id="zipcode" placeholder="Postcode / ZIP *">
                  <p id="err" class="text-danger"></p>
                </div>
                <div class="form-group">
                  <input required="" type="text" name="phone" id="phone" placeholder="Phone *">
                  <p id="err" class="text-danger"></p>
                </div>
                <div class="form-group">
                  <input required="" type="text" name="email" id="email" placeholder="Email address *">
                  <p id="err" class="text-danger"></p>
                </div>

                <!-- <div id="collapsePassword" class="form-group create-account collapse in">
                                <input required="" type="password" placeholder="Password" name="password">
                            </div> -->

                <!-- <div class="mb-20">
                                <h5>Additional information</h5>
                            </div>
                            <div class="form-group mb-30">
                                <textarea rows="5" placeholder="Order notes"></textarea>
                            </div> -->
              </form>
            </div>

            <div class="col-xl-3 col-lg-4">
              <div class="header-info header-info-right">
                <ul>
                  <li>
                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i class="fi-rs-angle"></i></a>
                    <!-- <ul class="language-dropdown">
                      <li><a href="#"><img src="/frontEnd/imgs/theme/flag-fr.png" alt="">Français</a>
                      </li>
                      <li><a href="#"><img src="/frontEnd/imgs/theme/flag-dt.png" alt="">Deutsch</a></li>
                      <li><a href="#"><img src="/frontEnd/imgs/theme/flag-ru.png" alt="">Pусский</a></li>
                    </ul> -->
                  </li>
                  <% if(locals.user){ %>
                  <li><i class="fi-rs-user"></i><%= user.name %><a></a>
                  </li>
                  <li><i class="fi-rs-user"></i><a href="/logout">Logout </a>
                  </li>
                  <% }else{ %>
                  <li><i class="fi-rs-user"></i><a href="/login">Log In </a>
                  </li>
                  <li><i class="fi-rs-user"></i><a href="/signup"> Sign Up</a>
                  </li>
                  <% } %>
                </ul>
              </div>
            </div>





           <!-- shop -->

           <section class="mt-50 mb-50">
            <div class="container">
              <div class="row">
                <header class="card-header bg-dark bg-gradient rounded-3 mb-4" style="padding: 0.25rem;">
                  <form id="formId" class="row gx-3 align-items-center">
                    <div class="col-md-4">
                      <div class="input-group">
                        <span class="d-inline-block text-light align-middle mt-10 mr-10">Search:</span>
                        <input type="text" class="form-control form-control-lg border-0 bg-transparent text-light" name="search" id="search">
                        <button class="btn btn-sm btn-dark" type="submit"><i class="bi bi-search"></i></button>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <span class="d-inline-block text-light align-middle mt-10 mr-10 ml-100 ">Sort:</span>
                        <select name="sort" id="sort" class="form-select align-middle">
                          <option value="-createdAt">Newest</option>
                          <option value="createdAt">Oldest</option>
                          <option value="-price">Price high to low</option>
                          <option value="price">Price low to high</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <span class="d-inline-block text-light align-middle mt-10 mr-10 ml-100">Filter:</span>
                        <select name="filter" id="filter" class="form-select align-middle">
                          <option value="category=men">Men</option>
                          <option value="category=women">Women</option>
                          <option value="category=kids">Kids</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <button type="button" class="btn btn-sm btn-dark ml-100" onclick="userQuery()">Search</button>
                    </div>
                  </form>
                </header>
                
                
                
                
                
              
                <div class="col-md-10 text-right">
                  <div class="row product-grid-3">
                    <% product.forEach(function(item) { %>
                    <div class="col-lg-3 col-md-4">
                      <div class="product-cart-wrap mb-30">
                        <div class="product-img-action-wrap">
                          <div class="product-img product-img-zoom">
                            <a href="/product-detail/<%= item._id%>">
                              <img class="default-img" src="/productImages/<%= item.img[0]%>" alt="">
                            </a>
                          </div>
                          <div class="product-action-1">
                            <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                              <i class="fi-rs-search"></i>
                            </a>
                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="#" onclick="addToWishList('<%=item._id%>')">
                              <i id="wishlist-icon" class="fi-rs-heart"></i>
                            </a>
                            <a aria-label="Compare" class="action-btn hover-up" href="#">
                              <i class="fi-rs-shuffle"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-content-wrap">
                          <h2><a href="#"><%= item.name %></a></h2>
                          <div class="rating-result" title="90%"></div>
                          <div class="product-price">
                            <span>₹<%= item.price %> </span>
                          </div>
                          <div class="product-action-1 show">
                            <a aria-label="Add To Cart" class="action-btn hover-up" href="#" onclick="addToCart('<%=item.id%>')">
                              <i class="fi-rs-shopping-bag-add"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% }); %>
          
                   
          
          
                    <!--pagination-->
                    <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                          <li class="page-item active"><a class="page-link" href="#" data-page="1">01</a></li>
                          <li class="page-item"><a class="page-link" href="#" data-page="2">02</a></li>
                          <li class="page-item"><a class="page-link" href="#" data-page="3">03</a></li>
                          <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                          <li class="page-item"><a class="page-link" href="#" data-page="16">16</a></li>
                          <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a></li>
                        </ul>
                      </nav>
                    </div>          
                  </div>
                </div>
              </div>
          </section>
          
          
          
          <script>
            // add to cart ajax call
            function addToCart(proId) {
              $.ajax({
                url: '/add-to-cart/' + proId,
                method: 'POST',
                data: {
                  proId: proId
                },
                success: (response) => {
                  if (response.status) {
                    location.reload()
                  }
                }
              })
            }
          
            //add to wish list ajax call
            function addToWishList(proId) {
              $.ajax({
                url: '/add-to-wishlist',
                method: 'POST',
                data: {
                  proId: proId
                },
                success: (response) => {
                  if (response.status) {
                    // Product added to Wishlist successfully
                    Swal.fire({
                      icon: 'success',
                      title: 'Product added to Wishlist!',
                      showConfirmButton: false,
                      timer: 3000
                    });
                    // Reload page after 3 seconds
                    setTimeout(function() {
                      location.reload();
                    }, 3000);
          
                  } else {
                    // Error adding product to Wishlist
                    Swal.fire({
                      icon: 'error',
                      title: 'Product already exist in Wishlist',
                      timer: 3000
                    });
          
                  }
                }
              })
            }
          
            
          
          
            //search ,sort,filter and pagination on shop
            function userQuery(pageNumber = 1){
            $.ajax({
              url : '/shop',
              method : 'GET',
              data : $('#formId').serialize() + '&page=' + pageNumber,
              success : function(response){
                location.reload()
              },
              error : function(error){
                console.log(error);
              }
            })
          }
          
          $(document).on('click', '.pagination .page-link', function(e){
            e.preventDefault();
            let pageNumber = $(this).data('page');
            userQuery(pageNumber);
          });
          
          $(document).on('click', '#searchBtn', function(e){
            e.preventDefault();
            userQuery();
          });
          
          
          </script>

          <!-- userController -->
          /* GET Shop Page. */
          getShop: async (req, res) => {
              let user = req.session.user;
              let count = await cartHelpers.getCartCount(user._id);
              const wishlistCount = await wishListHelpers.getWishListCount(user._id);
            
              console.log(req.query);
            
              if (req.query?.search || req.query?.sort || req.query?.filter) {
                console.log('1');
                const { product, currentPage, totalPages } = await userHelper.getQueriesOnShop(req.query);
                req.session.selectedProducts = product;
                res.render('user/shop', { layout: 'Layout', product, user, count, wishlistCount });
              } else {
                let product = [];
                if (req.session.selectedProducts) {
                  console.log('using selected products');
                  product = req.session.selectedProducts; // assign the session value to product
                  if (!product.length) {
                    console.log('selected products is empty, fetching all products');
                    product = await userHelper.getShop();
                    if (!product.length) {
                      // Display a message to the user if no products were found
                      Swal.fire({
                        title: 'No products found!',
                        icon: 'error',
                        showConfirmButton: false,
                        timer: 2000
                      });
                    }
                  }
                  req.session.selectedProducts = null; // reset the session value
                } else {
                  console.log('fetching all products');
                  product = await userHelper.getShop();
                  if (!product.length) {
                    // Display a message to the user if no products were found
                    Swal.fire({
                      title: 'No products found!',
                      icon: 'error',
                      showConfirmButton: false,
                      timer: 2000
                    });
                  }
                }
                res.render('user/shop', { layout: 'Layout', product, user, count, wishlistCount });
              }
            },

            <!-- userhelper -->
            getQueriesOnShop: (query) => {
              const search = query?.search
              const sort = query?.sort
              const filter = query?.filter
              const page = parseInt(query?.page) || 1
              const perPage = 10
      
              // console.log(search, sort, filter, page, perPage)
      
                  return new Promise( async(resolve, reject) =>{
      
                      let filterObj = {}
          
                      if (filter === 'catergory=men') {
                          filterObj = { catergory: 'men' }
                      } else if (filter === 'category=women') {
                          filterObj = { category: 'women' }
                      } else if (filter === 'category=kids') {
                          filterObj = { category: 'kids' }
                      }
          
                      //Building search query
          
                      let searchQuery = {}
          
                      if (search) {
                          searchQuery = {
                              $or: [
                                  { name: { $regex: search, $options: 'i' } },
                                  { description: { $regex: search, $options: 'i' } }
                              ]
                          }
                      }
          
                      //Building object based on query parameter
          
                      let sortObj = {}
          
                      if (sort === '-createdAt') {
                          sortObj = { createdAt: -1 };
                      } else if (sort === 'createdAt') {
                          sortObj = { createdAt: 1 };
                      } else if (sort === '-price') {
                          sortObj = { price: -1 };
                      } else if (sort === 'price') {
                          sortObj = { price: 1 };
                      }
          
                      const skip = (page - 1) * perPage;
          
                      const product = await productModel.Product.find({
                          ...searchQuery,
                          ...filterObj,
                      })
                          .sort(sortObj)
                          .skip(skip)
                          .limit(perPage);
          
          
                      const totalProducts = await productModel.Product.countDocuments({
                          ...searchQuery,
                          ...filterObj,
                      });
          
                     console.log(filterObj,'filterObj');
                     console.log(searchQuery,'searchQuery');
                     console.log(sortObj,'sortObj');
                     console.log(skip,'skip');
                     console.log(product,'product');
                     console.log(totalProducts,'totalProducts');
          
                      const totalPages = Math.ceil(totalProducts / perPage);
          
                      resolve({
                          product,
                          currentPage: page,
                          totalPages,
                        });
      
                  })    
      
          }